<script type="text/javascript">
	analyzeTweets("<%= @item.name %>");
</script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script language="javascript" type="text/javascript">

    var map;
    var geocoder;
    function InitializeMap() {

        var latlng = new google.maps.LatLng("<%= @item.location.lat %>", "<%= @item.location.lng %>");
        var myOptions =
        {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        var myLatLng = {lat: parseFloat("<%= @item.location.lat %>"), lng: parseFloat("<%= @item.location.lng %>")};
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: "<%= @item.name %>"
        });
    }


    window.onload = InitializeMap;

</script>
<div id ="map" style="height: 253px" >
</div>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


<%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>

<!-- start menu -->
<%= javascript_include_tag 'jquery.easydropdown', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'easyResponsiveTabs', 'data-turbolinks-track' => true %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>


<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
  .men{
      margin-top: -204px;
  }
</style>
<div class="men">
  <div class="container">
    <div class="col-md-9 single_top">
      <div class="single_left">
        <div class="labout span_1_of_a1">
          <div class="flexslider">
            <ul class="slides">

              <div class="w3-content" style="max-width:800px;position:relative">
                <% if !@item.photos.groups[0].nil? %>
                  <% @item.photos.groups[0].items.each do |photo| %>
                    <img class="mySlides" src="<%= photo.prefix %>100x100<%= photo.suffix %>" style="width:100%">
                  <% end %>
                  <a class="w3-btn-floating" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
                  <a class="w3-btn-floating" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>
                <% else %>
                  <img class="mySlides" src="/nophoto.png" style="width:100%">
                <% end %>
              </div>

              <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

            </ul>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
          <h1><%= @item.name %> </h1>
          <p class="availability" style="color: white">Full Address: </p>
          <div class="price_single">
            <%= @item.location.address %> , <%= @item.location.neighborhood %> , <%= @item.location.state %>
          </div>
          <h2 class="quick">Quick Overview:</h2>
          <p>Rating</p><meter value="<%= @item.rating %>" min="0" max="10"></meter>(<%= @item.ratingSignals %>)<br>
          <p class="quick_desc" style="color: white">
            <%= @item.name %> is under category of  <%= @item.categories[0].name%><br>
            <a href="https://www.facebook.com/<%=  @item.contact.facebookUsername %>"><i class="fa fa-facebook" style="color: white" aria-hidden="true"></i></a>
            <a href="http://www.twitter.com/<%= @item.contact.twitter %>"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

          </p>

        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
          <ul class="resp-tabs-list">
            <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
          </ul>
          <div class="resp-tabs-container" style="color: white">
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2" style="color: white">
              <div class="facts">
                <ul class="tab_list" style="color: white;">
                  <% if !@item.tips.groups[1].nil? %>
                    <% @item.tips.groups[1].items.each do |tip| %>
                      <li><h4><%= tip.text %></h4><button type="button" class="btn btn-primary">Likes <span class="badge"><%= tip.likes.count %></span></button></li>
                    <% end %>
                  <% else %>
                    <h3>No reviews</h3>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- FlexSlider -->
<%= stylesheet_link_tag 'flexslider', media: 'all', 'data-turbolinks-track' => true %>
