<!DOCTYPE HTML>
<html>
<head>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>

  <!-- start menu -->
  <%= javascript_include_tag 'jquery.easydropdown', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'easyResponsiveTabs', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#horizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion
        width: 'auto', //auto or any width like 600px
        fit: true   // 100% fit in a container
      });
    });
  </script>
</head>
<body>
<%=@item['ItemLinks']['ItemLink'][2]['URL']%>


<div class="men">
  <div class="container">
    <div class="col-md-9 single_top">
      <div class="single_left">
        <div class="labout span_1_of_a1">
          <div class="flexslider">
            <ul class="slides">
              <%= image_tag(@alldoc.css(".a-link-normal img").attr("src"))%>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
          <h1><%=@item['ItemAttributes']['Title']%></h1>
          <p class="availability" style="color: white">Availability: <span class="color">In stock</span></p>
          <div class="price_single">
            <span class="amount item_price actual"><%= @alldoc.css(".arp-price").inner_html %></span>
          </div>
          <h2 class="quick">Quick Overview:</h2>
          <p class="quick_desc" style="color: white">Product Rate : <%= @alldoc.css(".averageStarRatingNumerical span").inner_html%></p>
          <p class="quick_desc" style="color: white">total Reviews : <%= @alldoc.css(".totalReviewCount").inner_html%></p>
          <%= @alldoc.css(".a-spacing-top-mini.a-row :nth-child(1) span").inner_html %>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
          <ul class="resp-tabs-list">
            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Positive REview</span></li>
            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>critical Review</span></li>
          </ul>
          <div class="resp-tabs-container" style="color: white">
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
              <div class="facts">
                <ul class="tab_list" style="color: white">
                  <li><a href="#"><%= @alldoc.css(".a-expander-content").children[5].children[0].text() %></a></li>
                 
                </ul>
              </div>
            </div>
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1" style="color: white">
              <div class="facts">
                <ul class="tab_list" style="color: white">
                  <li><a href="#"><%= @alldoc.css("#viewpoint-R6ABAI0SF9AHH").children[0].children[5].children[0].text() %></a></li>
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
</div>
<!-- FlexSlider -->
<%= stylesheet_link_tag 'flexslider', media: 'all', 'data-turbolinks-track' => true %>

</body>

</html>